@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .dark-primary {
        @apply dark:bg-cyan-900 dark:text-white;
    }
    .dark-secondary {
        @apply dark:bg-cyan-700 dark:text-gray-800;
    }
    .dark-btn {
        @apply dark:bg-blue-400 dark:hover:bg-blue-500;
    }
    .light-primary {
        @apply bg-teal-600 text-white;
    }
}
/* Dark mode styles */
.dark-mode {
    background-color: #1a202c;
}
.dark-mode header {
    background-color: #2d3748;
}
.dark-mode aside {
    background-color: #1a202c;
    border-color: #4a5568;
}
.dark-mode aside > div {
    background-color: #374151;
    border-color: #4a5568;
}
.dark-mode aside h2,
.dark-mode aside li {
    color: #e2e8f0;
}
.dark-mode main {
    background-color: #1a202c;
}
.dark-mode .bg-white {
    background-color: #2d3748;
    border-color: #4a5568;
}
.dark-mode h3,
.dark-mode p {
    color: #e2e8f0;
}
